body {
  margin: 0;
  border: 0;
  background: #351330;
  max-height: 90%;
  max-width: 90%;
}

.loadingH{
  float: right;
}

.loading{
  font-size: 40px;
}

.centered {
  font-size: 50px;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}