<!DOCTYPE html>
<html>
<header>
    <link rel="stylesheet" href="static/css/loading.css">
</header>

<body>
<canvas id='canvas'></canvas>

<script src="static/js/loading.js"></script> 
</body>

<div onload="redirect()">
  <script>
    function redirect(){
      const sleep = (delay) => new Promise((resolve) => setTimeout(resolve,delay))
      const redirecting = async () =>{
        await sleep(100)
        //let location = console.log(location.href)
        //let length = location.length
        //location.href = (location.substr(length-4)).concat("crazy8")
        location.href = console.log(location.href)
      }

      redirecting()
    }
  </script>

</div>



<!--
  
  <div id="wrapper">
    <section>
      <ul id="gallery">
        <li>
          <a href="#">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/25480/numbers-01.jpg" alt="">
            <p>Experimentation with color and texture.</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/25480/numbers-02.jpg" alt="">
            <p>Playing with blending modes in Photoshop.</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/25480/numbers-06.jpg" alt="">
            <p>Trying to create an 80's style of glows.</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/25480/numbers-09.jpg" alt="">
            <p>Drips created using Photoshop brushes.</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/25480/numbers-12.jpg" alt="">
            <p>Creating shapes using repetition.</p>
          </a>
        </li>
      </ul>
    </section>
    <footer>
      <a href="https://twitter.com/nickrp"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/25480/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
      <a href="https://facebook.com/nickpettit"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/25480/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
      <p>&copy; 2014 Nick Pettit.</p>
    </footer>
  </div>

  -->

  </html>