<!-- Adorable Macho Elephants: Prattay, Joseph, Kevin, Anjini
SoftDev
Period 07
Dec 2022 -->

<!-- Adorable Macho Elephants: Prattay, Joseph, Kevin, Anjini
SoftDev
Period 07
Dec 2022 -->

<!DOCTYPE html>
<html>
    <head>
        <title> Main Page </title>

        <!-- Compressed CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="static/css/background1.css">-->
        <link rel="stylesheet" href="static/css/main.css"> 
      </head>

      <!--
    <div class="callout success large">
        <h1>CRAZY 8!!!</h1>
    </div>
    -->

    <!-- Navbar -->
    <div class="top-bar show-for-medium" id="responsive_menu">
      <div class="top-bar-left">
          <ul class="medium-horizontal menu">
              <li class="menu-text">This Is CRAAAZY... 8</li>
          </ul>
      </div>
      <div class="top-bar-right">
          <ul class="medium-horizontal menu">
              <li><a href="#">Featured Updates</a></li>
              <li><a href="#">Experiences</a></li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="{{url_for('crazy8')}}">Play</a></li>
              <li><a href="{{url_for('logout')}}">Logout</a></li>
          </ul>
      </div>
  </div>

  <br>

  <body>
    <div class="grid-container" style="width: 25%;">
      <div class="grid-x grid-margin-x large-up">

        <!-- Stats Card -->
        <div class="cell">
          <div class="card text-center">
            <div class="card-divider">
              <h3> Stats </h3>
            </div>
            <img src="https://placekitten.com/400/300">
            <div class="card-section">
              <p>
                Games Won:      <br>
                Games Lost:     <br>
                Cards Dealt:    <br>
                Cards Drawn:    <br>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="text-center">
      <a class="button large" href="{{url_for('crazy8')}}" class="button">Play Game</a>
    </div>

    <!-- How to play Card -->

    <div class="grid-container" style="width: 90%;">
      <div class="card">
        <div class="card-divider">
          <h3>How To Play Crazy 8</h3>
        </div>
        <div class="card-section">
          <p>
            How to Play:<br>
            Players try to get rid of their cards by placing them on top of the flipped up card in the center.
            Players may do so if the card they want to get rid of is the same number or suit of the card
            flipped up. 8s are wild and if a player plays an 8, they must state what suit the 8 will be for the
            next player. If a player cannot place any of their cards on the one in the center, they must draw
            cards from the pile until they can do so or until they’ve drawn a maximum of five cards.
          </p>
          <p>
            Scoring:<br>
            After a player gets rid of all of their cards, the round is over and points are tallied. Cards
            remaining in players’ hands are counted as the following point values:
            Cards 2 through 9 (except the 8) are worth their face value
            Aces are worth 1 point
            Cards 10 through King are worth 10 points
            8s are worth 50 points.
            Once a player reaches 100 points or above, the player with the lowest number of points wins
            the game.
          </p>
        </div>
      </div>
    </div>
  </body>

</html>